@import "tailwindcss";

@theme {
    --color-white: #ffffff;
    --color-black: #00000;
    --color-green: #1ea575;
    --color-red: #c73b0f;
    --color-rose-900: #260f08;
    --color-rose-500: #87635a;
    --color-rose-400: #ad8a85;
    --color-rose-300: #caafa7;
    --color-rose-100: #f5eeec;
    --color-rose-50: #fcf8f6;

    --text-1-s: 40px;
    --text-1-h: 120%;
    --text-2-s: 24px;
    --text-2-h: 125%;
    --text-3-s: 16px;
    --text-4-s: 14px;
}

body {
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: var(--color-rose-900);
}

.container {
    padding: 24px;

    h1 {
        font-size: var(--text-1-s);
    }
}
